:root{
    --mainColor : #1687a7;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    background-color: #f6f5f5;
    font-family: 'Potta One', cursive;
}
.container-fluid{
    padding-right: 0px !important; 
    padding-left: 0px !important;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.mainColor{
    color: var(--mainColor);
}
.cursor{
    cursor: pointer;
}